*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(images/123bkg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family:'Times New Roman', Times, serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}
.navbar.logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;


}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;

}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:blue;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color:red;
}
.home{
    margin-left: 7%;
    margin-top: 6%;
}
.home h1{
    font-size: 20px;
    color:brown;
}
.home h3 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 95%;
    left: 40%;
    transform: translate(-50%) ;
    bottom: 0;
    transition: left 2s ease;
}
.image:hover.photo{
    left: 55%;
}
